{% extends 'base.html' %}

{% block title %}
    Specific Animal Logs Page
{% endblock %}

{% block main_content %}

    <div class="feed-header">
        <h1>My Logs for This Animal</h1>
        <p class="feed-subtitle">All your logs related to this animal</p>
    </div>

    {% include 'partials/trail_logs/trail-logs-specific-animal-buttons.html' %}
    {% include 'partials/trail_logs/trail-logs-specific-animal-stats.html' %}

    <div class="feed-container">
        {% if trail_logs %}
            {% for log in trail_logs %}
                <div class="log-context-trail">
                    {% include 'partials/trails/trail-details-card.html' with trail=log.trail %}
                </div>
                {% include 'partials/trail_logs/trail-log-card.html' %}
            {% endfor %}
        {% else %}
            <div>
                You have no logs with that animal!
            </div>
        {% endif %}
    </div>

    {% if is_paginated %}
        {% include 'partials/common/pagination.html' %}
    {% endif %}

{% endblock %}