<header>
    <nav>
        <div class="navbar">
            <a href="{% url 'home page' %}">Home</a>
            {% if not user.is_authenticated %}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            {% else %}
                <a href="{% url 'profile details' user.pk %}">Profile Details</a>
                <a href="{% url 'edit profile' user.pk %}">Edit Profile</a>
                <a href="{% url 'delete profile' user.pk %}">Delete Profile</a>

                <form action="{% url 'logout' %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="navbar-link">Logout</button>
            {% endif %}
            </form>
        </div>
    </nav>
</header>


