{% extends 'base.html' %}

{% block title %}
    Edit Animal Page
{% endblock %}

{% block main_content %}
    <div class="trails-header">
        <div class="trails-header">
            <h1>Edit Animal Details</h1>
            <p class="trails-subtitle">Update the information for this animal</p>
        </div>

        <p class="trails-subtitle">Update the information for this animal</p>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Edit Animal</button>
    </form>
{% endblock %}