{% extends 'base.html' %}

{% block title %}
    Delete Animal Page
{% endblock %}

{% block main_content %}
    <div class="trails-header">
        <h1>Delete Animal</h1>
        <p class="trails-subtitle">Permanently remove this animal from the database</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Associated Trails:</h2>
        <div>
            {% for trail in trails %}
                <li>{{ trail.name }}</li>
            {% empty %}
                <li>No associated trails.</li>
            {% endfor %}
        </div>

        <button type="submit">Delete Animal</button>
    </form>
{% endblock %}