{% extends 'base.html' %}

{% block title %}
    Animal Trail Logs Page
{% endblock %}

{% block main_content %}
    <h1>This is the Animal Trail Logs Page</h1>

    {% include 'partials/animals/animal-details-buttons.html' %}

    <div class="feed-header">
        <h1>All Users Logs</h1>
        <p class="feed-subtitle">All Users Logs</p>
    </div>

    {% include 'partials/animals/animal-public-stats.html' %}

    {% if trail_logs_paginated %}
        <div class="feed-container">
            {% for log in trail_logs_paginated %}

                <div class="log-context-trail">
                    {% include 'partials/trails/trail-details-card.html' with trail=log.trail %}
                </div>

                {% include 'partials/trail_logs/trail-log-card.html' with trail=log.trail %}

            {% endfor %}
        </div>
    {% else %}
        No Logs For This Animal!
    {% endif %}

    {% if trail_logs_paginated.has_other_pages %}
        {% include 'partials/common/pagination.html' with page_obj=trail_logs_paginated page_param=trail_logs_page_param %}
    {% endif %}
{% endblock %}