{% extends 'base.html' %}

{% block title %}
    Details Animal Page
{% endblock %}

{% block main_content %}
    <div class="trail-details-container">
        <!-- Hero Image Section -->
        <div class="trail-hero">
            <img src="{{ animal.image.url }}" alt="{{ animal.species }}'s picture">
            <div class="trail-difficulty {{ animal.conservation_status|lower }}">
                {{ animal.conservation_status }}
            </div>
        </div>

        <!-- Animal Information -->
        <div class="trail-info-container">
            <div class="trail-header">
                <h1>{{ animal.common_name }}</h1>
                <p class="trail-location">
                    <i class="fas fa-microscope"></i> {{ animal.species }}
                </p>
            </div>

            <!-- Key Statistics -->
            <div class="trail-stats-card">
                <div class="stat-item">
                    <i class="fas fa-book"></i>
                    <div class="stat-content">
                        <span class="stat-label">Wikipedia</span>
                        <span class="stat-value">
                            <a href="{{ animal.wikipedia_page }}" target="_blank">Learn More</a>
                        </span>
                    </div>
                </div>
                {% if animal.additional_info %}
                    <div class="stat-item">
                        <i class="fas fa-info-circle"></i>
                        <div class="stat-content">
                            <span class="stat-label">Additional Info</span>
                            <span class="stat-value">
                                <a href="{{ animal.additional_info }}" target="_blank">View Source</a>
                            </span>
                        </div>
                    </div>
                {% endif %}
                <div class="stat-item">
                    <i class="fas fa-tree"></i>
                    <div class="stat-content">
                        <span class="stat-label">Found on Trails</span>
                        <span class="stat-value">{{ trails }}</span>
                    </div>
                </div>
            </div>

            <!-- New stat-card style sections for Public Stats, User Logs, and Photos -->
            <!-- Public Stats Card -->
            <div class="trail-stats-card">
                {% if public_stats.total_observers > 0 %}
                    <div class="stat-item">
                        <i class="fas fa-users"></i>
                        <div class="stat-content">
                            <span class="stat-label">Total Observers</span>
                            <span class="stat-value">{{ public_stats.total_observers }}</span>
                        </div>
                    </div>
                {% endif %}

                {% if photos.count > 0 %}
                    <div class="stat-item">
                        <i class="fas fa-users"></i>
                        <div class="stat-content">
                            <span class="stat-label">Total Photos</span>
                            <span class="stat-value">
                <a href="{% url 'animal-details-photos' animal_id=animal.pk %}">
                    {{ photos.count }}
                </a>
            </span>
                        </div>
                    </div>
                {% endif %}

                {% if trails.count > 0 %}
                    <div class="stat-item">
                        <i class="fas fa-users"></i>
                        <div class="stat-content">
                            <span class="stat-label">Trails</span>
                            <span class="stat-value">
                <a href="{% url 'animal-details-trails' animal_id=animal.pk %}">
                    {{ trails.count }}
                </a>
            </span>
                        </div>
                    </div>
                {% endif %}

                {% if public_stats.total_logs > 0 %}
                    <div class="stat-item">
                        <i class="fas fa-book-open"></i>
                        <div class="stat-content">
                            <span class="stat-label">Total Logs</span>
                            <span class="stat-value">
                <a href="{% url 'animal-details-trail-logs' animal_id=animal.pk %}">
                  {{ public_stats.total_logs }}
                </a>
            </span>
                        </div>
                    </div>
                {% endif %}

            </div>

            <!-- Description -->
            <div class="trail-description-card">
                <h2>Animal Description</h2>
                <p>{{ animal.description }}</p>
            </div>

            {#            <!-- Found on trails -->#}
            {#            <div class="trail-description-card">#}
            {#                <h2>Found on Trails</h2>#}
            {#                {% for trail in trails %}#}
            {#                    <p>#}
            {#                        <a href="{{ trail.get_absolute_url }}">{{ trail.name }} {{ trail.location }}</a>#}
            {#                    </p>#}
            {#                {% endfor %}#}
            {#            </div>#}

            <!-- Action Buttons -->
            <div class="trail-actions">
                {% if perms.animals.change_animal %}
                    <a href="{% url 'animal-edit' animal.pk %}" class="action-button edit">
                        <i class="fas fa-edit"></i> Edit Animal
                    </a>
                {% endif %}
                {% if perms.animals.delete_animal %}
                    <a href="{% url 'animal-delete' animal.pk %}" class="action-button delete">
                        <i class="fas fa-trash-alt"></i> Delete Animal
                    </a>
                {% endif %}
                <a href="{% url 'animals-photo-upload' animal_id=animal.pk %}" id="photo-upload-section"
                   class="action-button edit">
                    <i class="fas fa-camera"></i> Upload Your Photo
                </a>

                <a href="{% url 'trail-list' %}" class="action-button edit">
                    <i class="fas fa-edit"></i> Find a Trail and Log Your Experience
                </a>
                <a href="{% url 'trail-logs-specific-animal-logs' animal.pk %}" class="action-button edit">
                    <i class="fas fa-edit"></i> My Logs of This Animal
                </a>
                {#                TODO add the link when ready #}
            </div>
        </div>
    </div>

    ----------------------------------------------
    <p>
        {{ animal.photos.all }}
    </p>
    <p>
        {{ public_stats }}
    </p>
    ----------------------------------------------
    {#    TODO delete. Just for debugging #}
{% endblock %}



{# TODO fix conservation status visibility #}
{# TODO fix links display in found on trails #}


