{% extends 'base.html' %}

{% block title %}
    Trail Animals Page
{% endblock %}

{% block main_content %}
    <h1>This is the Trail Animals Page</h1>

    {% include 'partials/trail-details-buttons.html' %}

    <div class="trails-grid">
        {% if animals_paginated %}
            {% for animal in animals_paginated %}
                {% include 'partials/animal-details-card.html' %}
            {% endfor %}
        {% else %}
            No Animals Spotted on This Trail!
        {% endif %}
    </div>

    {% if animals_paginated.has_other_pages %}
    {% include 'partials/pagination.html' with page_obj=animals_paginated page_param=animals_page_param %}
{% endif %}

{% endblock %}

