{% extends 'base.html' %}

{% block title %}
    Trail's Trail Logs Page
{% endblock %}

{% block main_content %}
    <h1>This is the Trail's Trail Logs Page</h1>

    {% include 'partials/trails/trail-details-buttons.html' %}

    <div class="feed-header">
        <h1>All Users Logs</h1>
        <p class="feed-subtitle">All Users Logs</p>
    </div>

    {% include 'partials/trails/trail-public-stats.html' %}

    <div class="feed-container">
        <div class="log-context-trail">
            {% include 'partials/trails/trail-details-card.html' with trail=trail %}
        </div>

        {% if trail_logs_paginated %}
            {% for log in trail_logs_paginated %}
                {% include 'partials/trail_logs/trail-log-card.html' %}
            {% endfor %}
        {% else %}
            No Logs For This Trail Yet!
        {% endif %}
    </div>

    {% if trail_logs_paginated.has_other_pages %}
        {% include 'partials/common/pagination.html' with page_obj=trail_logs_paginated page_param=trail_logs_page_param %}
    {% endif %}

{% endblock %}
