{% extends 'base.html' %}

{% block title %}
    Trail Photos Page
{% endblock %}

{% block main_content %}
    <h1>This is the Trail Photos Page</h1>

    {% include 'partials/trail-details-buttons.html' %}
    {% if photos_paginated %}
        <div class="trails-grid">
            {% for photo in photos_paginated %}
                {% include 'partials/photo-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        No Photos of This Trail!
    {% endif %}


    {% if photos_paginated.has_other_pages %}
        {% include 'partials/pagination.html' with page_obj=photos_paginated page_param=photos_page_param %}
    {% endif %}

{% endblock %}