{% extends 'base.html' %}

{% block title %}
    Specific Trail Photos Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Trail Photos Page</h1>

    {% include 'partials/trail_logs/trail-logs-specific-trail-buttons.html' %}
    
     <div class="feed-header">
        <h1>My Photos</h1>
        <p class="feed-subtitle">My Photos</p>
    </div>
    
            {% include 'partials/trail_logs/trail-logs-specific-trail-stats.html' %}

    {% if photos_paginated %}
        <div class="trails-grid">
            {% for photo in photos_paginated %}
                {% include 'partials/photos/photo-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Photos Taken Yet!
        </div>
    {% endif %}

    {% if photos_paginated.has_other_pages %}
        {% include 'partials/common/pagination.html' with page_obj=photos_paginated page_param=photos_page_param %}
    {% endif %}

{% endblock %}

