{% extends 'base.html' %}

{% block title %}
    Specific Trail Log Page
{% endblock %}

{% block main_content %}
    <div class="feed-header">
        <h1>My Logs for This Trail</h1>
        <p class="feed-subtitle">All logs recorded on this trail</p>
    </div>

    {% include 'partials/trail_logs/trail-logs-specific-trail-buttons.html' %}
    {% include 'partials/trail_logs/trail-logs-specific-trail-stats.html' %}

    <div class="feed-container">
        <div class="log-context-trail">
            {% include 'partials/trails/trail-details-card.html' with trail=trail %}
        </div>

        {% if trail_logs %}
            {% for log in trail_logs %}
                {% include 'partials/trail_logs/trail-log-card.html' %}
            {% endfor %}
        {% else %}
            No Logs For This Trail Yet!
        {% endif %}
    </div>

    {% if is_paginated %}
        {% include 'partials/common/pagination.html' %}
    {% endif %}

{% endblock %}