{% extends 'base.html' %}

{% block title %}
    Specific Trail Animals Page
{% endblock %}

{% block main_content %}
    <div class="feed-header">
        <h1>My Animals Logged on This Trail</h1>
        <p class="feed-subtitle">All the animals spotted and logged on this trail</p>
    </div>

    {% include 'partials/trail_logs/trail-logs-specific-trail-buttons.html' %}
    {% include 'partials/trail_logs/trail-logs-specific-trail-stats.html' %}

    <div class="feed-container">
        {% if animals_paginated %}
            <div class="trails-grid">
                {% for animal in animals_paginated %}
                    {% include 'partials/animals/animal-details-card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div>
                No Animals Spotted Yet!
            </div>
        {% endif %}
    </div>


    {% if animals_paginated.has_other_pages %}
        {% include 'partials/common/pagination.html' with page_obj=animals_paginated page_param=animals_page_param %}
    {% endif %}

{% endblock %}