{% extends 'base.html' %}

{% block title %}
    Delete Photo Page
{% endblock %}

{% block main_content %}
    <div class="feed-header">
        <h1>Delete Photo</h1>
        <p class="feed-subtitle">Permanently remove this photo from your collection</p>
    </div>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <p>Image:</p>
        <p><img src="{{ photo.image.url }}" alt="Photo" style="max-width: 300px;"></p>
        {{ form.as_p }}

        {% if photo.animal %}
            <p>Associated Animal:</p>
            <div>
                {{ photo.animal }}
            </div>
        {% endif %}

        {% if photo.trail_logs.all %}
            <p>Associated Trail Logs:</p>
            <div>
                {% for trail_log in trail_logs.all %}
                    <li>{{ trail_log.title }}</li>
                {% endfor %}
            </div>
        {% endif %}

        <button type="submit">Delete Photo</button>
    </form>
{% endblock %}
