{% extends 'base.html' %}

{% block title %}
    Profile Details
{% endblock %}

{% block main_content %}
    <div class="trail-details-container">
        <!-- Hero Image Section -->
        <div class="trail-hero">
            {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile picture">
            {% endif %}
        </div>
        <!-- Profile Information -->
        {% include 'partials/profiles/profile-details-card.html' %}
    </div>
{% endblock %}

