<header>
    <nav>
        <div class="navbar">

            {% if user.is_authenticated %}
                
                <a href="{% url 'trail-logs-my-logs' %}">View My Logs</a>

                {% if perms.trails.add_trail %}
                    <a href="{% url 'trail-create' %}">Create Trail</a>
                {% endif %}

                {% if perms.animals.add_animal %}
                    <a href="{% url 'animal-create' %}">Create Animal</a>
                {% endif %}

                <a href="{% url 'profile-details' user.pk %}">Profile Details</a>
                
            {% endif %}
        </div>
    </nav>
</header>