  <div class="action-buttons">
      <a href="{% url 'animal-details' animal.pk %}" class="action-button edit">
            <i class="fas fa-edit"></i> Return to Animal's Details
        </a>
        <a href="{% url 'animal-details-trail-logs' animal.pk %}" class="action-button edit">
            <i class="fas fa-edit"></i> All Logs of This Animal
        </a>
        <a href="{% url 'animal-details-trails' animal.pk %}"
           class="action-button edit">
            <i class="fas fa-edit"></i> All Trails of This Animal
        </a>
        <a href="{% url 'animal-details-photos' animal.pk %}"
           class="action-button edit">
            <i class="fas fa-edit"></i> All Photos of This Animal
        </a>
    </div>