<div class="action-buttons">
    <a href="{% url 'trail-logs-my-logs' %}" class="action-button edit">
        <i class="fas fa-edit"></i> All My Logs
    </a>
    <a href="{% url 'trail-logs-my-trails' %}" class="action-button edit">
        <i class="fas fa-edit"></i> All My Trails
    </a>
    <a href="{% url 'trail-logs-my-animals' %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All My Animals
    </a>
    <a href="{% url 'trail-logs-my-photos' %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All My Photos
    </a>
</div>