<div class="action-buttons">
    <a href="{% url 'trail-log-details' trail_log.pk %}" class="action-button edit">
        <i class="fas fa-edit"></i> Return to Log's Details
    </a>
    <a href="{% url 'trail-log-details-animals' trail_log.pk %}" class="action-button edit">
        <i class="fas fa-edit"></i> View Log's Animals
    </a>
    <a href="{% url 'trail-log-details-photos' trail_log.pk %}" class="action-button edit">
        <i class="fas fa-edit"></i> View Log's Photos
    </a>
</div>