<header>
    <nav>
        <div class="navbar">
            <a href="{% url 'home-page' %}">Home</a>

            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
            {% else %}

                <a href="{% url 'trail-list' %}">Explore Trails</a>
                <a href="{% url 'animal-list' %}">Explore Animals</a>
                <a href="{% url 'photo-list' %}">Explore Photos</a>
{#                <a href="{% url 'trail-logs-list' %}">View Trail Logs</a>#}

{#                {% if perms.trails.add_trail %}#}
{#                    <a href="{% url 'trail-create' %}">Create Trail</a>#}
{#                {% endif %}#}
{##}
{#                {% if perms.animals.add_animal %}#}
{#                    <a href="{% url 'animal-create' %}">Create Animal</a>#}
{#                {% endif %}#}
{##}
{#                <a href="{% url 'profile-details' user.pk %}">Profile Details</a>#}
                <a href="{% url 'map-page' %}">Map</a>
                <a href="{% url 'about-page' %}">About</a>


                <form action="{% url 'logout' %}" method="post" style="display: inline">
                {% csrf_token %}
                <button type="submit" class="navbar-link">Logout</button>
                </form>
            {% endif %}
{#            </form>#}
        </div>
    </nav>
</header>


