<div class="action-buttons">
    <a href="{% url 'trail-logs-list' %}" class="action-button edit">
        <i class="fas fa-edit"></i> All My Logs
    </a>
    <a href="{% url 'trail-logs-trails' %}" class="action-button edit">
        <i class="fas fa-edit"></i> All My Trails
    </a>
    <a href="{% url 'trail-logs-animals' %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All My Animals
    </a>
    <a href="{% url 'trail-logs-photos' %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All My Photos
    </a>
</div>