<div class="action-buttons">
     <a href="{% url 'trail-details' trail.pk %}" class="action-button edit">
        <i class="fas fa-edit"></i> Return to Trail Details
    </a>
    <a href="{% url 'trail-details-trail-logs' trail.pk %}" class="action-button edit">
        <i class="fas fa-edit"></i> All Logs on This Trail
    </a>
    <a href="{% url 'trail-details-animals' trail.pk %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All Animals on This Trail
    </a>
    <a href="{% url 'trail-details-photos' trail.pk %}"
       class="action-button edit">
        <i class="fas fa-edit"></i> All Photos on This Trail
    </a>
</div>