{% extends 'base.html' %}

{% block title %}
    Specific Animal Trails Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Animal Trails Page</h1>

    {% include 'partials/trail-logs-specific-animal-buttons.html' %}
    <div class="feed-container">
        {% if trails %}
            {% for trail in trails %}
                {{ trail.name }}

                {#  {% include 'partials/trail-excerpt.html' %} #}

                {# TODO include partial. Fix trail-card partial#}
            {% endfor %}
        {% else %}
            <div>
                You have no trails with that animal!
            </div>
        {% endif %}
    </div>

    {% if is_paginated %}
        {% include 'partials/pagination.html' %}
    {% endif %}

{% endblock %}