{% extends 'base.html' %}

{% block title %}
    Specific Trail Photos Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Trail Photos Page</h1>
    -------------------------------------
    <p>
        {{ trail }}
    </p>
    --------------------------------------

    {% include 'partials/trail-logs-specific-trail-buttons.html' %}

    {% if photos_paginated %}
        <div class="trails-grid">
            {% for photo in photos_paginated %}
                {% include 'partials/photo-details-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Photos Taken Yet!
        </div>
    {% endif %}

    {% if photos_paginated.has_other_pages %}
        {% include 'partials/pagination.html' with page_obj=photos_paginated page_param=photos_page_param %}
    {% endif %}

{% endblock %}

