{% extends 'base.html' %}

{% block title %}
    Trail Logs Animals
{% endblock %}

{% block main_content %}

    {% include 'partials/my-logs-details-buttons.html' %}

    <div class="feed-header">
        <h1>Trail Journey Log</h1>
        <p class="feed-subtitle">Your hiking adventures</p>
    </div>

    {% if animals_paginated %}
        <div class="trails-grid">
            {% for animal in animals_paginated %}
                {% include 'partials/animal-details-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Animals!
        </div>
    {% endif %}
    {% if is_paginated %}
        {% include 'partials/pagination.html' with page_obj=animals_paginated page_param=animals_page_param %}
    {% endif %}
{#    TODO check pagination here
    #}

{% endblock %}