{% extends 'base.html' %}

{% block title %}
    Trail Logs List
{% endblock %}

{% block main_content %}

    {% include 'partials/trail_logs/trail-logs-my-details-buttons.html' %}

    <div class="feed-header">
        <h1>Your Journey Logs</h1>
        <p class="feed-subtitle">Your hiking adventures</p>
    </div>

    {% include 'partials/trail_logs/trail-logs-my-stats.html' %}

    {% if trail_logs %}
        <div class="feed-container">
            {% for log in trail_logs %}
                <div class="log-context-trail">
                    {% include 'partials/trails/trail-details-card.html' with trail=log.trail %}
                </div>

                {% include 'partials/trail_logs/trail-log-card.html' %}

            {% endfor %}
        </div>
    {% else %}
        No Logs Yet!
    {% endif %}

    {% if is_paginated %}
        {% include 'partials/common/pagination.html' %}
    {% endif %}

{% endblock %}
