{% extends 'base.html' %}

{% block title %}
    Specific Animal Logs Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Animal Logs Page</h1>

    {% include 'partials/trail-logs-specific-animal-buttons.html' %}

    <div class="feed-container">
{#    TODO count logs maybe #}
    
        {% if trail_logs %}
            {% for log in trail_logs %}
                {% include 'partials/trail-excerpt.html' with trail=log.trail %}
                {#                TODO fix partial width #}
                {% include 'partials/trail-log-card.html' %}
            {% endfor %}
        {% else %}
            <div>
                You have no logs with that animal!
            </div>
        {% endif %}
    </div>

    {% if is_paginated %}
        {% include 'partials/pagination.html' %}
    {% endif %}

{% endblock %}