{% extends 'base.html' %}

{% block title %}
    Trail Logs Photos
{% endblock %}

{% block main_content %}

    {% include 'partials/my-logs-details-buttons.html' %}

    {% if trail_logs %}
        <div class="trails-grid">
            {% for photo in photos %}
                {% include 'partials/photo-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Photos!
        </div>
    {% endif %}
    
    {% if is_paginated %}
        {% include 'partials/pagination.html' %}
    {% endif %}

{% endblock %}