{% extends 'base.html' %}

{% block title %}
    List Trail Log Page
{% endblock %}

{% block main_content %}
    <h1>This is the List Trail Log Page</h1>
    {% for log in trail_logs %}
        <div>
            <p>
                {{ log.title }}
            </p>
            <p>
                {{ log.date_completed }}
            </p>
            <p>
                {{ log.notes }}
            </p>
        </div>
        --------------------------------------------------------
    {% endfor %}
    <div>
        <p>
            Total trails: {{ total_trails }}
        </p>
        <p>
            Total length: {{ total_length }} km
        </p>
        <p>
            Total species seen: {{ total_species_seen }}
        </p>
    </div>
{% endblock %}
