{% extends 'base.html' %}

{% block title %}
    Specific Animal Logs Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Animal Logs Page</h1>

    {% include 'partials/trail_logs/trail-logs-specific-animal-buttons.html' %}
       <div class="feed-header">
        <h1>My Logs</h1>
        <p class="feed-subtitle">My Logs</p>
    </div>
    {% include 'partials/trail_logs/trail-logs-specific-animal-stats.html' %}

    <div class="feed-container">

        {% if trail_logs %}
            {% for log in trail_logs %}
                <div class="log-context-trail">
                    {% include 'partials/trails/trail-details-card.html' with trail=log.trail %}
                </div>
                {% include 'partials/trail_logs/trail-log-card.html' %}
            {% endfor %}
        {% else %}
            <div>
                You have no logs with that animal!
            </div>
        {% endif %}
    </div>

    {% if is_paginated %}
        {% include 'partials/common/pagination.html' %}
    {% endif %}

{% endblock %}