{% extends 'base.html' %}

{% block title %}
    Specific Trail Photos Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Trail Photos Page</h1>
    -------------------------------------
    <p>
        {{ trail.name }}
    </p>
    --------------------------------------
    {% include 'partials/trail-logs-specific-trail-buttons.html' %}


    {% if photos %}
        <div class="trails-grid">
            {% for photo in photos %}
                {% include 'partials/photo-details-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Photos!
        </div>
    {% endif %}

{#        {% if is_paginated %}#}
{#            {% include 'partials/pagination.html' %}#}
{#        {% endif %}#}
    {% if is_paginated %}
        <p>Pagination is active!</p>
        <p>Current page: {{ page_obj.number }}</p>
        <p>Total pages: {{ page_obj.paginator.num_pages }}</p>
    {% else %}
        <p>No pagination is applied.</p>
    {% endif %}
    ----------------------------------
    Debugging
    ---------------------------------------
{% endblock %}

{# TODO fix pagination #}
