{% extends 'base.html' %}

{% block title %}
    Trail Logs Animals
{% endblock %}

{% block main_content %}

    {% include 'partials/my-logs-details-buttons.html' %}

    {% if trail_logs %}
        <div class="trails-grid">
            {% for animal in animals %}
                {% include 'partials/animal-details-card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div>
            No Animals!
        </div>
    {% endif %}
    {% if is_paginated %}
        {% include 'partials/pagination.html' %}
    {% endif %}

{% endblock %}