{% extends 'base.html' %}

{% block title %}
    Specific Trail Photos Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Trail Photos Page</h1>
    -------------------------------------
    <p>
        {{ trail.name }}
    </p>
    --------------------------------------
    <div class="action-buttons">
        <a href="{% url 'trail-logs-specific-trail-list' trail.pk %}" class="action-button edit">
            <i class="fas fa-edit"></i> My Logs on This Trail
        </a>
        <a href="{% url 'trail-logs-specific-trail-animals' trail.pk %}"
           class="action-button edit">
            <i class="fas fa-edit"></i> My Animals on This Trail
        </a>
        <a href="{% url 'trail-logs-specific-trail-photos' trail.pk %}"
           class="action-button edit">
            <i class="fas fa-edit"></i> My Photos on This Trail
        </a>
    </div>

    {#    TODO make this partial #}

    {% if photos %}
        <div class="trails-grid">
            {% for photo in photos %}
                <div class="trail-card">
                    <div class="trail-image">
                        <a href="{% url 'photo-details' photo.pk %}">
                            <img src="{{ photo.image.url }}" alt="Photo of {{ photo.trail.name }}">
                        </a>
                    </div>
                </div>
            {% endfor %}
            {#  TODO create partials #}
        </div>
    {% else %}
        <div>
            No Photos!
        </div>
    {% endif %}
{% endblock %}
