{% extends 'base.html' %}

{% block title %}
    Trail Logs Trails
{% endblock %}

{% block main_content %}

    {% include 'partials/my-logs-details-buttons.html' %}

    {% if trail_logs %}
        <div class="trails-grid">
            {% for trail in trails %}
                {% include 'partials/trail-details-card.html' %}
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'partials/pagination.html' %}
        {% endif %}
    {% endif %}

{% endblock %}