{% extends 'base.html' %}

{% block title %}
    Specific Trail Animals Page
{% endblock %}

{% block main_content %}
    <h1>This is the Specific Trail Animals Page</h1>
    -------------------------------------
    <p>
        {{ trail }}
    </p>
    -------------------------------------

    {% include 'partials/trail-logs-specific-trail-buttons.html' %}
    
    {% if animals_paginated %}
        <div class="trails-grid">
        {% for animal in animals_paginated %}
            {% include 'partials/animal-details-card.html' %}
        {% endfor %}
    {% else %}
        No Animals Spotted Yet!
    {% endif %}
</div>

    {% if animals_paginated.has_other_pages %}
        {% include 'partials/pagination.html' with page_obj=animals_paginated page_param=animals_page_param %}
    {% endif %}

{% endblock %}